#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=meson --builddir=debian/build

override_dh_auto_configure:
	dh_auto_configure -- --buildtype=debug -Dwarning_level=0

